:root{
    --card-color: var(--eerie-black-1);
    --pillar-size: 34px;
    --big-circle-r: 30px;
    --circle-r: 13px;
    --circle-d: calc(var(--circle-r) * 2);
    --circles-space: calc(var(--big-circle-r) + var(--pillar-size));
    --circle-extend-inset: calc(var(--circle-r) + var(--circles-space));
   
  }
  @media (min-width: 1024px) {
    article{
        border-radius:20px 0 20px 20px;
        background: 
         /* Big Circle Cutout */ radial-gradient(
              circle at 100% 0%,
              transparent var(--big-circle-r),
              var(--card-color) calc(var(--big-circle-r) + 1px)
            )
            0px var(--pillar-size) / calc(50.29% - var(--pillar-size)) 100% no-repeat
            no-repeat,
          /* Top Circle  */
            radial-gradient(
              circle closest-side,
              var(--card-color) 100%,
              transparent calc(100% + 1px)
            )
            calc(48.89% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
            no-repeat no-repeat,
          /* Right Circle */
            radial-gradient(
              circle closest-side,
               var(--card-color) 100%,
              transparent calc(100% + 1px)
            )
            100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
            no-repeat,
          /* Top Gap fill Pillar */
            linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0px var(--circle-r) /
            calc(50.25% - var(--circles-space)) calc(100% - var(--circle-r)) no-repeat
            no-repeat,
          /* Right Gap fill Pillar */
            linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0 var(--circles-space) /
            calc(100% - var(--circle-r)) 100% no-repeat no-repeat,
          /* Top Circle Extend */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
            0px 0px / calc(50.5% - var(--circle-extend-inset)) var(--circle-d)
            no-repeat no-repeat,
          /* Right Circle Extend  */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
            100% var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat;
      }
    }
    @media (min-width: 1250px){
        article{
            border-radius:20px 0 20px 20px;
            background: 
             /* Big Circle Cutout */ radial-gradient(
                  circle at 100% 0%,
                  transparent var(--big-circle-r),
                  var(--card-color) calc(var(--big-circle-r) + 1px)
                )
                0px var(--pillar-size) / calc(50.49% - var(--pillar-size)) 100% no-repeat
                no-repeat,
              /* Top Circle  */
                radial-gradient(
                  circle closest-side,
                  var(--card-color) 100%,
                  transparent calc(100% + 1px)
                )
                calc(49.09% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
                no-repeat no-repeat,
              /* Right Circle */
                radial-gradient(
                  circle closest-side,
                   var(--card-color) 100%,
                  transparent calc(100% + 1px)
                )
                100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
                no-repeat,
              /* Right Gap fill Pillar */
                linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0px var(--circle-r) /
                calc(50.55% - var(--circles-space)) calc(100% - var(--circle-r)) no-repeat
                no-repeat,
              /* Right Gap fill Pillar */
                linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0 var(--circles-space) /
                calc(100% - var(--circle-r)) 100% no-repeat no-repeat,
              /* Top Circle Extend */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
                0px 0px / calc(50.8% - var(--circle-extend-inset)) var(--circle-d)
                no-repeat no-repeat,
              /* Right Circle Extend  */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
                100% var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat;
          }
  
    }
